# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv

# Tests & coverage
tests/
htmlcov/
.coverage

# Terraform
infra/
.terraform/
.terraform.lock.hcl

# CI / GitHub
.github/

# Local config
.env
.env.*

# Build artifacts
*.egg-info
dist/
build/
